spring:
  application:
    name: payment-service

  liquibase:
    change-log: classpath:db/changelog/app-changelog.xml

  kafka:

    template:
      observation-enabled: true

    listener:
      observation-enabled: true

    consumer:
      group-id: payment-service-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.use.type.headers: false
        spring.json.value.default.type: com.innowise.paymentservice.kafka.consumer.OrderCreatedEvent
        spring.json.trusted.packages: com.innowise.paymentservice.kafka

    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: false

management:
  endpoints:
    web:
      exposure:
        include: "prometheus,health,info,metrics"

  endpoint:
    health:
      probes:
        enabled: true

  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true

  zipkin:
    tracing:
      endpoint: ${TEMPO_ZIPKIN}/api/v2/spans

  tracing:
    sampling:
      probability: 1.0